[Template]
ver=1
Name=Allegro Application
Icon=allegro.ico
Catagory=MultiMedia

[Unit0]
CName=main.c
CppName=main.cpp
C=allegro.txt
Cpp=allegro.txt

[Project]
UnitCount=1
Type=0
Name=Allegro App
Linker=-lalleg
ProjectIcon=allegro.ico
